
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Flexo";
	src: url("../font/Flexo/Flexo-Light.otf");
}

header {
	font-family: 'Flexo', serif;
	background: #ef5350;
	color: whitesmoke;
	font-size: 200%;
	font-weight: 800;
	text-align: center;
	padding: 5%;
}



.contenedor {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.pokemonBox {
	box-sizing: border-box;
	width: 200px;
	border: 2px solid #ef5350;
	text-align: center;
	padding: 2%;
	margin: 2% 1%;
	border-radius: 15px;
	background: rgb(245, 242, 240);
}

.title {
	font-size: 110%;
	font-weight: 800;
	margin-top: 4%;
	color: #880e4f ;
}

.info {
	font-size: 90%;
	font-weight: 100;
	color: black;
}

.img-poke {
	height: auto;
	border-radius: 50%;
	background: white;
}

